/* src/styles/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
/* Responsive Styles */
@media (max-width: 1024px) {
  /* Tablet */
  body {
      font-size: 15px;
  }
}

@media (max-width: 768px) {
  /* Mobile */
  body {
      font-size: 14px;
  }
}