/* src/styles/Tennis.css */

.tennis-section {
  background-color: #111;
  color: #fff;
  padding: 60px 20px;
}

.tennis-header {
  text-align: center;
  margin-bottom: 40px;
}

.tennis-title {
  font-size: 36px;
  font-weight: bold;
}

.tennis-subtitle {
  font-size: 22px;
  font-weight: bold;
  color: #CCCCCC;
  margin-top: 10px;
}

.tennis-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.tennis-services-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tennis-image {
  flex: 1;
  max-width: 400px;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.tennis-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.tennis-image:hover img {
  transform: scale(1.05);
}

.tennis-service-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  background-color: transparent;
  padding: 10px 0;
  color: #ddd;
  transition: transform 0.3s ease;
}

.tennis-service-card:hover {
  transform: translateX(10px);
}

.tennis-service-icon {
  font-size: 36px;
  color: #4CAF50;
  transition: color 0.3s ease, transform 0.3s ease;
}

.tennis-service-icon:hover {
  color: #3e8e41;
  transform: scale(1.1);
}

.tennis-service-title {
  font-size: 20px;
  color: #fff;
  margin: 0;
  position: relative;
  display: inline-block;
}

.tennis-service-title:hover::after {
  width: 100%;
}

.tennis-service-description {
  font-size: 16px;
  color: #aaa;
  margin: 0;
  line-height: 1.6;
}

/* Responsive adjustments for smartphone */
@media (max-width: 768px) {
  .tennis-content {
      flex-direction: column;
      align-items: center;
      gap: 20px; /* Ajoute de l'espace entre l'image et les services */
  }

  .tennis-image {
      max-width: 100%; /* L'image prend toute la largeur en mode mobile */
      margin-bottom: 20px; /* Espace entre l'image et les services */
  }

  .tennis-services-column {
      width: 100%; /* Assure que les services occupent toute la largeur */
      align-items: center;
  }

  .tennis-service-card {
      width: 100%;
      flex-direction: row; /* Les services restent en ligne pour la lisibilité */
      justify-content: center;
      padding: 15px 0; /* Ajoute de l'espace entre les services */
  }

  .tennis-title {
      font-size: 28px;
  }

  .tennis-subtitle {
      font-size: 20px;
  }

  .tennis-service-title {
      font-size: 18px;
  }

  .tennis-service-description {
      font-size: 14px;
  }
}
